body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #444;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hamburgerIcon {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}

.hamburgerIcon div {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
}

nav {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2  {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

header ul {
    display: flex;
    flex-direction: row;
}

header li {
    list-style: none;
}

header a {
    text-decoration: none;
    color: #444;
}

.hideMenu {
    display: none;
}

@media screen and (min-width: 768px) {
    .hamburgerIcon {
        display: none;
    }
    header ul#navigationLinks {
        display: block;
    }
}

@media screen and (max-width: 769px) {
    header ul {
        display: block; 
        text-align: center;
    }
}